.collection-slider {
  padding-bottom: 40px !important;

  .swiper-wrapper {
    padding-left: 8.45%;

    @media (max-width: 1023.98px) {
      padding-left: 24px;
    }

    @media (max-width: 767.98px) {
      padding-left: 16px;
    }

    .swiper-slide {
      .slide-item {
        min-height: 500px;

        .slide-text-wrap {
          background: #d3d6e2;
          color: #1b1f27;
        }

        .top-img {
          height: 291px;
          transition: height 0.4s ease;
        }

        // &:hover {
        //     .top-img {
        //         height: 366px;
        //     }
        // }
      }

      &:nth-child(even) {
        .slide-item {
          .slide-text-wrap {
            background: #c77c36;
            color: #ffffff;
          }
        }
      }
    }
  }

  .swiper-scrollbar {
    bottom: 0 !important;
    opacity: 1 !important;
    width: 83.1% !important;
    left: 8.45% !important;
    background: #d8d8d8;

    @media (max-width: 1023.98px) {
      left: 24px !important;
      width: calc(100% - 48px) !important;
    }

    @media (max-width: 767.98px) {
      left: 16px !important;
      width: calc(100% - 32px) !important;
    }

    .swiper-scrollbar-drag {
      background: #1b1f27;
      width: 480px;
    }
  }
}

html[lang='ar-ae'] {
  .collection-slider {
    .swiper-wrapper {
      padding-right: 8.45%;
      padding-left: 0;

      @media (max-width: 1023.98px) {
        padding-right: 24px;
      }

      @media (max-width: 767.98px) {
        padding-right: 16px;
      }
    }
  }
}
