<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <layoutService>
      <serializationMaxDepth>5</serializationMaxDepth>
    </layoutService>
	<api>
		<GraphQL>
			<defaults>
				<security>
					<publicService type="Sitecore.Services.GraphQL.Hosting.Security.GraphQLSecurity, Sitecore.Services.GraphQL">
						<complexityConfiguration type="GraphQL.Validation.Complexity.ComplexityConfiguration, GraphQL">
							<maxDepth>19</maxDepth>
							<maxComplexity>5000</maxComplexity>
							<fieldImpact>1.0001</fieldImpact>
						</complexityConfiguration>
					</publicService>
				</security>
			</defaults>
		</GraphQL>
	</api>
  </sitecore>
</configuration>
